
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map_wrapper{
        position: relative;
        height: calc(100% - 80px);
        width: 100%;
        left:-100%;
      }
     #map {
        height:100%;
        width:100%;
        position:absolute;
        z-index: 0;
      }
      #map_top_wrapper{
        position:absolute;
        width: 100%;
        z-index: 1;
        text-align: center;
      }
      #map_top{
        background-color:rgba(0, 0, 0, 0.5);
        width: 100%;
        padding:10px;
        color:#fff;
      }

      #map_bottom{
        position:absolute;
        width: 100%;
        z-index: 1;
        padding:10px;
        bottom: 40px;
      }

      #buttons_panel{
        float:right;
      }
      .map_buttons{
        margin-top:10px;
        width:45px;
        height:45px;
        font-size:18px;
        display:block;
        margin-right:10px;
      }
      #stop_game{
        display:none;
      }

      .sidepanel {
        height: 100vh; /* Specify a height */
        width: 0; /* 0 width - change this with JavaScript */
        max-width: 400px;
        position: fixed; /* Stay in place */
        z-index: 3; /* Stay on top */
        top: 0;
        left: 0;
        background-color: #fff;
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 60px; /* Place content 60px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
        
      }
      .sidepanel_active {
        width: 100vw;
      }

      /* Position and style the close button (top right corner) */
      .sidepanel .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
      }
      
      /* Style the button that is used to open the sidepanel */
      .openbtn {
        font-size: 20px;
        cursor: pointer;
        background-color: #111;
        color: white;
        padding: 10px 15px;
        border: none;
      }
      
      .openbtn:hover {
        background-color: #444;
      }
     
      .rating {
          text-align: center;
      }
      .rating span { 
          width:20%;
          float:right; 
          position:relative; 
      }
      .rating span input {
          position:absolute;
          top:0px;
          left:0px;
          opacity:0;
      }
      .rating span label {
          display:inline-block;
          width:30px;
          height:30px;
          text-align:center;
          color:#999;
          background:#fff;
          font-size:30px;
          margin-right:2px;
          line-height:30px;
          border-radius:50%;
          -webkit-border-radius:50%;
      }
      .rating span:hover ~ span label,
      .rating span:hover label,
      .rating span.checked label,
      .rating span.checked ~ span label {
          background:#fff;
          color:#F90;
      }
      #rating_response{
        text-align: center;
      }

      .checked {
        color: orange;
      }

      .adp-warnbox{
        display:none;
      }
      #route_list li{
        margin-left:0;

      }
      ol, ul{
        margin-left:0;
      }

    

        
    


    

